<div class="container">
  <div class="row">
      <div class="col-md-2 ">
          <input type="text" class="total-time form-control" value="{{n}}" readonly>
      </div>
    <div class="col-md-2 prepare">
        <input type="text" class="total-time form-control" value="{{prepare | date :'mm:ss'}}" readonly>
    </div>
    <div class="col-md-2 round">
        <input type="text" class="total-time form-control" value="{{round | date :'mm:ss'}}" readonly>
    </div>
    <div class="col-md-2 warning">
        <input type="text" class="total-time form-control" value="{{warning | date :'mm:ss'}}" readonly>
    </div>
    <div class="col-md-2 rest">
        <input type="text" class="total-time form-control" value="{{rest | date :'mm:ss'}}" readonly>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div ng-repeat="t in timers">
        <button ng-click="set_model(t)" class="btn btn-primary btn-lg btn-block"> {{t.class}} </button>
      </div>
      <button ng-click="comenzar()" class="btn btn-success btn-lg btn-block"> Comenzar</button>
      <input type="text" class="total-time form-control" value="{{tiempo_total | date :'mm:ss'}}" readonly>
    </div>
    <div class="{{ 'col-md-7 ' + actual.type}}" ng-if="actual.type === 'round'">
      <input type="text" class="time" value="{{actual.time | date :'mm:ss'}}" readonly>
    </div>
    <div class="{{ 'col-md-7 ' + actual.type}}" ng-if="actual.type !== 'round'">
      <input type="text" class="time" value="{{actual.time | date :'mm:ss'}}" readonly>
    </div>
  </div>
</div>
